@model System_biblioteczny.Models.RentBookViewModel
@{
    ViewBag.Title = "Wypozycz ksiazke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista dostepnych ksiazek w bazie</h2>

<table id="books" class="table">
    <thead>
        <tr>
            <th scope="col">Tytul</th>
            <th scope="col">Podtytul</th>
            <th scope="col">Rok wydania</th>
            <th scope="col">Ilosc</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>                
                <td>@book.tytul</td>
                <td>@book.tytul2</td>
                <td>@book.rok_wydania</td>
                <td id="quantity">@book.stawka</td>

                @if (book.stawka > 0)
                {
                    <td>
                        <button data-book-id ="@book.ksiazka_id" class="btn btn-default rentBtn">Wypozycz</button>
                    </td>


                }
                else
                {
                    <td><a href="#"><button  class="btn btn-default">Egzemplarze wypozyczone</button></a></td>
                }

            </tr>

        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#books .rentBtn").on("click", function () {
                var book = $(this);
                if (confirm("Potwierdz wypozyczenie ksiazki.")) {
                    $.ajax({
                        url: "/Rent/RentBook/?card=" + @Model.User.nr_karty + "&bookId=" + book.attr("data-book-id"),
                        type: 'POST',     
                        success: function () {
                            location.reload();                            
                        }
                    });
                }
            });
        });
    </script>
}
